body{
    font-family:verdana;
    height: 100%;
    width: 100%;
}
.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  .row {
    margin-right: -15px;
    margin-left: -15px;
  }
.nav-image{
    width: 120px;
    height: auto;
}
.nav-item{  
    font-weight: 700;
}
.section{
    background-color: #e8faf4;
   
}

.active{
    background-color: #07b374;  
    border-radius: 20px;
    height: 40px;
    width: 100px;
    text-align: center;
}
.text-new-color{
    color: #07b374;
}
.btn-new-shape{
    background-color: #07b374;  
    border-radius: 20px;
    height: 40px;
    width: 145px;
    text-align: center;
    border: none;
}
.img-fluid{
    max-width: 100%;
    height: auto;
}
.card{
    border: none;
    background-color:#e8faf4 ;
}
#sec-book{
    background-color: white;  
    box-shadow: 10px 10px 40px lightgray;
}
.card img {
    width:80px;
    height:110px;       
}
.card-title{
    font-weight: 700;
}
.card-text{
    font-weight: 600;
    font-size: 14px;
}

.picture img{
    width: 300px;
    height: 200px;
}
.card-footer{
    border-top: none;
    background-color: white;
    

}
.card-footer img{
    height: 25px;
    width: 25px;
    
   
}
.picture{
    background-color: white;
    box-shadow: 10px 10px 40px lightgray;
    border-radius: 20px;
}
.testi-h{
    height: 340px;
}
.testi-img img{
    height: 130px;
    width: 130px;
}
.last-part{
    height: auto;
    background-color: #252a35;
    color: #ffffff;
}
.special-height{
    margin-top: 50px;
}
    

.col-xs-12,.col-sm-10,.col-sm-3,.col-md-10,.col-md-4{
    width: 100%;
    padding-left: 60px;
    padding-right: 40px;
}
